In [2]:
#import the libraries
import pandas as pd
import scipy as sp
import numpy as np
from scipy import stats

# Super Market example

In [2]:
40/np.sqrt(80)

4.47213595499958

In [3]:
10/4.47

2.237136465324385

In [4]:
1-stats.t.cdf(2.23,df=79)

0.014292908802574056

# Call Center example

In [5]:
(4-4.6)/(3/np.sqrt(50))

-1.4142135623730943

In [6]:
stats.t.cdf(-1.414,df=49)

0.08184219300476629

In [7]:
2*0.08

0.16

# One tail test

In [8]:
data=pd.Series([0.593, 0.142, 0.329, 0.691, 0.231, 0.793, 0.519, 0.392, 0.418])

In [9]:
#This gives two tail test p value so divide by 2 to get final p-value
p=scipy.stats.ttest_1samp(data,0.3)[1]
p_value= p/2

# Two Tail test

In [3]:
Control=pd.Series([6.809,6.4376,6.9157,7.3012,7.4488,7.3871,6.8755,7.0621,6.684,6.8236,7.393,7.5169,6.9246,6.9256,6.5797,6.8394,6.597,7.2705,7.2828,7.349,6.9438,7.156,6.5341,7.2854,6.9952,6.8568,7.2163,6.6801,6.9431,7.0852,6.7794,7.2783,7.1561,7.3943,6.9405
])
Treat =pd.Series([6.7703,7.5093,6.73,6.7878,7.1522,6.811,7.221,6.6606,7.2402,7.0503,6.881,7.4059,6.7652,6.038,7.1581,7.024,6.6672,7.4314,7.307,6.7478,6.8889,7.422,6.5217,7.1688,6.7594,6.9399,7.0133,6.9182,6.3346,7.5459,7.0992,7.118,6.6965,6.578,7.3875
])

In [4]:
stats.ttest_ind(Control,Treat)

Ttest_indResult(statistic=0.7227786728111842, pvalue=0.4722945350260539)

In [11]:
df = pd.read_csv('C:\\Data Science\\Hypothesis testing\\Cutlets.csv')
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [9]:
unita = pd.Series(df['Unit A'])
unitb = pd.Series(df['Unit B'])

In [10]:
stats.ttest_ind(unita,unitb)

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

# 2 Proportion Test

In [15]:
import numpy as np

In [33]:
#Data:

n1 =  35
p1 = .28

n2 = 35
p2 = .343

In [34]:
unit1 = np.random.binomial(1, p1, n1)
unit2 = np.random.binomial(1, p2, n2)

In [49]:
population1.mean()

0.4

In [48]:
population2.mean()

0.45714285714285713

In [58]:
import statsmodels.api as sm
sm.stats.ttest_ind(population1, population2)

(-0.4768907098737396, 0.6349689891204944, 68.0)

#Chi Square

In [3]:
Customer = pd.read_csv('C:\\Data Science\\Hypothesis testing\\Costomer+OrderForm.csv')
Customer.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [5]:
Customer.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [22]:
Customer['Phillippines'].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [23]:
Customer['Indonesia'].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [24]:
Customer['Malta'].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [25]:
Customer['India'].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [28]:
chiStats = sp.stats.chi2_contingency([[271,267,269,280],[29,33,31,20]])
print('Test t=%f p-value=%f' % (chiStats[0], chiStats[1]))

Test t=3.858961 p-value=0.277102

In [3]:
BuyerRatio =pd.read_csv('C:\\Data Science\\Hypothesis testing\\BuyerRatio.csv')
BuyerRatio.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [4]:
BuyerRatio.describe()

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000

In [5]:
chiStats = sp.stats.chi2_contingency([[50,142,131,70],[435,1523,1356,750]])
print('Test t =%f p-value =%f' % (chiStats[0],chiStats[1]))

Test t =1.595946 p-value =0.660309